:root {
  --base-font-size: 18px;
  --base-line-height: 1.4rem;
  --font-size-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --font-size-600: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --font-size-500: 1.25rem;
  --font-size-400: 1rem;
  --color-1: #183749;
  --color-2: #405B66;
  --color-3: #0C2029;
}

.margin-flow > * + * {
  margin-top: var(--flow-spacer, 1em) !important;
	margin-bottom: 0 !important;
}

main {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  text-align: center;
  color: var(--color-3);
  padding: 2rem;
  max-width: 1220px;
  margin-inline: auto;
}

h1 {
  font-size: var(--font-size-xl);
  margin: 0;
  text-transform: uppercase;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .2em;
}

.main-heading .material-symbols-outlined {
  font-size: 1em;
  line-height: 1.2;
}

h1,
#total,
.chip-count {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  color: var(--color-1);
}

hr {
  border-top: 1px solid var(--color-2);
  opacity: .2;
}

.buttons,
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

button:active {
  transform: scale(0.98);
}

.button-set {
  position: relative;
}

.chip-button {
  cursor: pointer;
}

.chip-count {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #fff;
  padding: .5em 1em;
  border-radius: .5em;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  pointer-events: none;
}

#reset-button,
#copy-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2em;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid var(--color-2);
  background-color: #fff;
  color: var(--color-2);
  border-radius: 100vh;
  cursor: pointer;
}

@media (hover: hover) {
  #reset-button:hover,
  #copy-button:hover {
    background-color: var(--color-2);
    color: #fff;
  }
}

#total {
  font-size: var(--font-size-600);
}